<div class="menu-wrapper" >

  <div class="menu">

    <div class="menu-header">
      <button class="btn btn-success" (click)="sidebar.toggle()">Sidebar</button>
      UN
    </div>

    <div class="list-group list-group-flush">
      <div class="list-group-item list-group-item-action bg-light" aria-current="true">
        <div class="d-flex flex-column">
          <div class="d-flex align-items-center">
            <b>Parcelle 1</b>
            <span class="ms-auto mb-2"><a class= "">...</a></span>
          </div>
          <div class="d-flex text-secondary">
            <span>2 peuplements</span>
            <b class="ms-auto">25.76ha</b>
          </div>
        </div>
      </div>
      <div href="#" class="list-group-item list-group-item-action">
        <div class="d-flex flex-column">
          <b>Parcelle 2</b>
          <div class="d-flex text-secondary">
            <span>4 peuplements</span>
            <b class="ms-auto">18.53ha</b>
          </div>
        </div>
      </div>
      <a href="#" class="list-group-item list-group-item-action">A third link item</a>
      <a href="#" class="list-group-item list-group-item-action">A fourth link item</a>
      <a class="list-group-item list-group-item-action disabled" aria-disabled="true">A disabled link item</a>
    </div>


  </div>

  <div class="menu-content">


    <map></map>


  </div>

</div>
